body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    background-color: #6bbb49;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.tab-btn.active {
    background-color: #0056b3;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 0.9em;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 108%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.back-to-home a{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #6c757d;
    color: rgb(248, 243, 243);
    font-size: 0.9em;
    border-radius: 10px;
    text-decoration: brown;
    text-align: center;
    transition: background-color 0.3s;
    width: 94%;
}

.back-to-home a:hover {
    background-color: #5a6268;
}



